<p>cv-fabricio works!</p>

<div class="container d-inline-flex bghv">
  <img class="personalimg mx-auto m-3" src="assets/img/foto_perfil.png" alt="">
  <h1 class="d-flex align-items-center mx-auto m-3 h1 ">HOJA DE VIDA</h1>
</div>
<div class="container-fluid mb-3 ">

  <div class="row mt-3">
    <div class="col-lg-3 mt-3 text-center">
      <div class="h5 mb-2">DATOS PERSONALES</div>
      <div class="card mb-2 p-1">
        <div class="h6">Jose Fabricio Hurtado Hoyos </div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">18 Julio 1990</div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">
          1061729851
        </div>
      </div>
      <div class="card mb-3 p-1">
        <div class="h6">
          Soltero
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3 text-center">
      <div class="h5 mb-2">PASATIEMPO</div>
      <div class="card mb-2 p-1">
        <div class="h6"> Futbol sala </div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">Viajar al estadio </div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">
          Natacion y Running
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3 text-center">
      <div class="h5 mb-2">PASATIEMPO</div>
      <div class="card mb-2 p-1">
        <div class="h6">Antonio Garcia Paredes</div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">Instituto Tecnico Industrial </div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">
          Fundacion Universitaria de Popayan - Ingenieria de Sistemas
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3 text-center">
      <div class="h5 mb-2">CONTACTO</div>
      <div class="card mb-2 p-1">
        <div class="h6">3187600921</div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">jfurtado501@gmail.com</div>
      </div>
      <div class="card mb-2 p-1">
        <div class="h6">
          @fhd_disenografico
        </div>
      </div>
    </div>

  </div>
